# https://docs.docker.com/engine/reference/builder/#dockerignore-file
*
!content
!src
!static
!gatsby-*.js
!package.json
!package-lock.json
# https://www.gatsbyjs.com/docs/reference/release-notes/v3.0/#incremental-builds-in-oss
!.cache
!public
